include ../../img/svg/logopicture-gray.pug
mixin logo(modifier)
  a.logo(href="#" aria-label="FSD logotype")&attributes(attributes)
    if (modifier.isLogotypeGray)
      +logopicture-gray()
    else
      +logopicture-gray()
      