include __item-content/header__item-content.pug
include __content/header__content.pug
include __item/header__item.pug
include __navigation/header__navigation.pug
include __sandwich-ico-container/header__sandwich-ico-container.pug
include __sandwich-ico/header__sandwich-ico.pug
include ../logo/logo.pug
mixin header(modifier)
  header.header&attributes(attributes)
    - modifier_isLogotypeGray = false;
    - modifier_isContentExits = true;

    if modifier == undefined
      - modifier = {}
    if attributes.class == undefined
      - attributes.class = "";
    if ( !(attributes.class.indexOf('header_theme_UI-Kit')==-1) ) 
      - modifier_isLogotypeGray = true;
      - modifier_isContentExits = false;

    +logo(modifier)
    if(modifier_isContentExits)
      +header__content(modifier)
      +header__sandwich-ico-container(modifier)