.text-field__description {
  text-transform: uppercase;
  color: $text-field__description--color;
  font-size: 12px;
}

.text-field_description_slight-top{
  .text-field__description {
    position: relative;
    bottom: 3px;
  }
}
