/* no sense variables */
$gray: rgba(31, 32, 65, 0.25);
$gray-dark  : rgba(31, 32, 65, 0.5);
$gray-darker: rgba(31, 32, 65, 0.75);

$purple     : #BC9CFF;
$green      : #6FCF97;

$black      : #1F2041;

/* variables with sense */
/* *********************************************************************** */

$color-and-type-screen__square_color_purple--BGColor: $purple;
$color-and-type-screen__square_color_green--BGColor : $green;

$header__sandwich-ico--BGColor: $purple;
$header__sandwich-ico-after-before--BGColor: $green;

$color-and-type-screen__head--color: $gray;
$color-and-type-screen__head-description_style_body: $gray-darker;
$color-and-type-screen__head-description--color: $black;

$text-field__title--color: $black;
$text-field__description--color: $gray-dark;
$text-field__input--color: $gray-darker;
$text-field__input-placeholder--color: $gray;
$text-field__input--BC : $gray;
