mixin color-and-type-screen__squares-column(modifier)
  if modifier["squaresArr"] == undefined
    - modifier["squaresArr"] = [{header: "empty__squaresArr", modifier:""}];
  .color-and-type-screen__squares-column&attributes(attributes)
    each square in modifier.squaresArr
      +square-container(square)