include ../../blocks/favicon/favicon.pug
include ../../blocks/header/header.pug
include ../../blocks/color-and-type-screen/color-and-type-screen.pug
include ../../blocks/form-elements/form-elements.pug
doctype html
html(lang="ru")
  head
    meta(charset = "utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title UIKit
    //-В папке build будет лежать файл фавикона, строка которая находится ниже позволит подцепить этот файл
    +favicon()
  body
    +header({
      navigationAr: []
    })(class="header_theme_UI-Kit")
    main
      +color-and-type-screen({
        squaresArr: [
          {
            header : "Dark Shade 100%",
            text : "#1F2041",
          },
          {
            header : "Dark Shade 75%",
            text : "#1F2041",
            modifier : "color-and-type-screen__square_opacity_75"
          },
          {
            header : "Dark Shade 50%",
            text : "#1F2041",

            modifier : "color-and-type-screen__square_opacity_50"
          },
          {
            header : "Dark Shade 25%",
            text : "#1F2041",
            modifier : "color-and-type-screen__square_opacity_25"
          },
          {
            header : "Dark Shade 5%",
            text : "#1F2041",
            modifier : "color-and-type-screen__square_opacity_05"
          },
          {
            header : "Purple",
            text : "#BC9CFF",
            modifier : "color-and-type-screen__square_color_purple"
          },
          {
            header : "Green",
            text : "#6FCF97",
            modifier : "color-and-type-screen__square_color_green"
          },
        ],
        heads:[
          {
            tagName: "H1",
            header: "This one is the sub-section or<br/>widget title",
            modifier: "color-and-type-screen__head-container_style_h1"
          },
          {
            tagName: "H2",
            header: "Next one is the item title inside<br/>widgets",
            modifier: "color-and-type-screen__head-container_style_h2"
          },
          {
            tagName: "H3",
            header: "This is a label or CTA text",
            modifier: "color-and-type-screen__head-container_style_h3"
          },
          {
            tagName: "Body",
            header: "This is the body text which is used for most<br/>of the design, like paragraphs, lists, etc.",
            modifier: "color-and-type-screen__head-container_style_body"
          },
        ]
      })(class="color-and-type-screen_size_standard")
      +form-elements([
        {
          name: 'text-field',
          title: 'Text Field',
          description: 'Defaut',
          placeholder: 'Email',
          modifier: "text-field_description_slight-top"
        },
        {
          name: 'text-field',
          title: 'Text Field',
          description: 'Hover / Focus',
          placeholder: 'This is pretty awesome'
        },
      ])(class='form-elements_size_standard')