mixin pagination__numbers-container(modifier)
  if modifier["numberOfPages"] == undefined
    - modifier["numberOfPages"] = 5;
  ul.pagination__numbers-container&attributes(attributes)
    - var n = 0;
    while n < modifier.numberOfPages
      - n++;
      +pagination__page-number(n+1)