.square-container__square {
  width: 70px;
  height: 70px;
  background: $square-container__square--BGColor;
  border-radius: 6px;
  margin-right: 40px;

  &.square-container__square_opacity_75{
    opacity: 0.75;
  }
  &.square-container__square_opacity_50{
    opacity: 0.5;
  }
  &.square-container__square_opacity_25{
    opacity: 0.25;
  }
  &.square-container__square_opacity_05{
    opacity: 0.05;
  }
  &.square-container__square_color_purple{
    background-color: $square-container__square_color_purple--BGColor;
  }
  &.square-container__square_color_green{
    background-color: $square-container__square_color_green--BGColor;
  }
}
