mixin color-and-type-screen__head-container(modifier)
  .color-and-type-screen__head-container&attributes(attributes)
    +color-and-type-screen__head(modifier)
    +color-and-type-screen__head-description(modifier)