mixin color-and-type-screen__square-description(modifier)
  .color-and-type-screen__square-description&attributes(attributes)
    +color-and-type-screen__square-header(modifier)
    +color-and-type-screen__square-text(modifier)