include __content/pagination__content.pug
include __calculation-field/pagination__calculation-field.pug
include __page-number/pagination__page-number.pug
include __numbers-container/pagination__numbers-container.pug
include __arrow/pagination__arrow.pug
include __pages-control/pagination__pages-control.pug
include __title/pagination__title.pug
mixin pagination(modifier)
  .pagination&attributes(attributes)
    +pagination__title(modifier)
    +pagination__content(modifier)
    +pagination__pages-control(modifier)