@import '../head-container/head-container';
@import '../square-container/square-container';
@import '__heads-column/color-and-type-screen__heads-column';
@import '__squares-column/color-and-type-screen__squares-column';
.color-and-type-screen {
  font-family: 'Montserrat' ,"Arial" , "Sans-serif";
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 28px;

  padding-top: 17px;
  display: flex;
  justify-content: space-between;
  &.color-and-type-screen_size_standard{
    max-width: 1140px;
    @include mx(auto);
  }
  @media (max-width: $md - 1px) {
    flex-direction: column;
  }
}
