include ../head-container/head-container.pug
include ../square-container/square-container.pug
include __heads-column/color-and-type-screen__heads-column.pug
include __squares-column/color-and-type-screen__squares-column.pug
mixin color-and-type-screen(modifier)
  section.color-and-type-screen&attributes(attributes)
    if modifier == undefined
      - modifier = {};
    +color-and-type-screen__squares-column(modifier)
    +color-and-type-screen__heads-column(modifier)