mixin color-and-type-screen__square-container(modifier)
  .color-and-type-screen__square-container&attributes(attributes)
    +color-and-type-screen__square(modifier)
    +color-and-type-screen__square-description(modifier)